%%% -*- erlang -*-
%%% vim: set ts=4 sts=4 sw=4 et:

{erl_opts, [
    {parse_transform, lager_transform},
    warn_unused_vars,
    warn_export_all,
    warn_shadow_vars,
    warn_unused_import,
    warn_unused_function,
    warn_bif_clash,
    warn_unused_record,
    warn_deprecated_function,
    warn_obsolete_guard,
    strict_validation,
    warn_export_vars,
    warn_exported_vars
]}.

{deps_dir, "deps"}.

{deps, [
    % let it always be the first
    {lager, "2.0.1",
        {git, "git://github.com/basho/lager.git", {tag, "2.0.1"}}},
    {amqp_client,".*", 
        {git, "git@github.com:EchoTeam/amqp_client.git", {tag,"2.6.1"}}, [raw]},
    {rabbit_common,".*",
        {git,"git@github.com:EchoTeam/rabbit_common.git", {tag,"2.6.1"}}, [raw]},
    {dht_ring, "1.0.0",
        {git, "git@github.com:EchoTeam/dht_ring", {tag, "v1.0.0"}}},
    {meck, "0.*",
        {git, "git://github.com/eproxus/meck", {branch, "master"}}}
]}.

{eunit_compile_opts, [export_all]}.
{eunit_opts, [verbose, {report,{eunit_surefire,[{dir,"."}]}}]}.

{cover_enabled, true}.
{cover_export_enabled, true}.
